
/* It is block contains grid of photos to align gallary fo photo */
.photo-list-wrapper {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* without grid using flex property */
/* .photo-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

/* grid of 4 columns for photo gallary */
.photo-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* Button block */
.controls {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
}

/* Buttons (prev, next) */
.controls button {
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    
}