/* main wrapper for all components */
.outer-gallary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home page or main heading that is gallary name */
.gallary-heading {
    margin: 0.5rem auto;
    font-size: 3rem;

}
